* {
	font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    min-height: 5vh;
    align-content: center;
    background-color: gray;
}

#navbar {
    margin: 1vh;
    text-align: left;
}

#navbar a {
    color: black;
}

main {
    flex: 1;
    padding: 1vh;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    gap: 5vh;
}

.heading {
    font-size: larger;
}

.media-list {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1vh;
    padding-right: 1vh;
    list-style: none;
}

footer {
    margin-top: 5vh;
    margin-left: auto;
    padding: 1vh;
}