* {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header {
    min-height: 5vh;
    align-content: center;
    background-color: grey;
}

#navbar {
    margin: 1vh;
}

#navbar a {
    color: black;
}

main {
    flex: 1;
    padding: 2vh;
}

.heading {
    font-size: larger;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.container-block {
    background-color: grey;
    max-width: fit-content;
    max-height: fit-content;
    margin: 2vh;
    padding: 1vh;
    border-radius: 1vh;
}

label {
    line-height: 1;
}

.media-list {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1vh;
    padding-right: 1vh;
    list-style: none;
}

.info {
    color: black;
    text-decoration: none;
}

.media-image {
    height: 50vh;
    width: auto;
}

footer {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vh;
    margin-left: auto;
}

.invisible {
    display: none;
}